@model User

<style>
    .error {
        color: red;
    }
</style>


<section class="vh-100 bg-image"

    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Create an account</h2>

                            <form id="registrationForm" method="post" action="/User/Register">

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="userName">Your Name</label>
                                    <input type="text" id="userName" name="userName" class="form-control form-control-lg" value="@TempData["userName"]"/>
                                    <span id="userNameError" class="error"></span>
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="userEmail">Your Email</label>
                                    <input type="email" id="userEmail" name="userEmail" class="form-control form-control-lg" value="@TempData["userEmail"]"/>
                                    <span id="userEmailError" class="error"></span>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="userPassword">Password</label>
                                    <input type="password" id="userPassword" name="userPassword" class="form-control form-control-lg" />
                                    <span id="userPasswordError" class="error"></span>
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="retypeUserPassword">Repeat your password</label>
                                    <input type="password" id="retypeUserPassword" name="retypeUserPassword" class="form-control form-control-lg" />
                                    <span id="userPasswordMatchError" class="error"></span>
                                </div>



                                <div class="d-flex justify-content-center">
                                    <button type="submit"
                                            class="btn btn-primary btn-block btn-lg gradient-custom-4 text-body" style="color:white !important">
                                        Register
                                    </button>
                                </div>

                                <p class="text-center text-muted mt-5 mb-0">
                                    Have already an account? <a href="#!"
                                                                class="fw-bold text-body"><u style="color:white !important">Login here</u></a>
                                </p>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
